<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }
  #cbox3:checked + label {
    color: blue;
    text-decoration: line-through;
  }
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<div class="content" role="main">
  <!-- Highlight Card -->
  <!-- <div class="card highlight-card card-small">
    {{ title }} !

  </div> -->
  <!-- <input #phone placeholder="phone number" />

  <input type="button" value="Call" (click)="callPhone(phone.value)" /> -->
  <div class="field container" id="searchform">
    <!-- <form (submit)="onSubmit(player.value)">
      <input #player placeholder="player name">
   </form> -->

    <input
      type="text"
      id="searchterm"
      value=""
      name="todoTask"
      placeholder="ToDO Task"
      [(ngModel)]="todoTask"
      (keyup.enter)="addToDo(todoTask)"
    />
    <button
      type="button"
      (click)="addToDo(todoTask)"
      class="btn btn-primary"
      id="addtodo"
    >
      Add
    </button>
  </div>
  <!-- <li>
    {{ todoTask.value }}
  </li> -->

  <router-outlet></router-outlet>
</div>
<!-- <div class="d-flex justify-content-center total">
  <h1>ToDo List</h1>
</div> -->
<div class=" total container row">

  <div class="col-sm-6">
    <h2>
     
        Pending: {{ totaltasks }}
        <br>
        <div *ngIf="totaltasks>0">
        <button class="btn btn-danger" (click)="deletePending()">Delete all Tasks</button></div>
    </h2>

    <div *ngFor="let item of data" >
      <!-- {{ item }}
      <button (click)="reomvetask(item)" class="w3-btn w3-black">
        Delete
      </button> -->
      <!-- <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <p> {{ item }}</p>
      </div> -->

      <div class="panel panel-default">
        <div class="panel-heading justify-content-center">
          <span>
            {{ item }}
            <button
              type="button"
              (click)="reomvetask(item)"
              style="color: red"
              class="close"
              data-dismiss="modal"
            >
              <span
                aria-hidden="true"
                title="make it as complete"
                style="font-size: 24px"
                >&times;</span
              >
            </button></span
          >
        </div>
      </div>
    </div>
  </div>
  <div class=" total col-sm-6">
    <!-- <h1>ToDo Tasks Completed: {{totaldone}}</h1> -->
    <h2>
      
        Completed: {{ totaldone }}<br>
        <div *ngIf="totaldone>0">
        <button class="btn btn-success" (click)="deleteCompleted()">
          Delete all Completed Tasks
        </button>
        </div>
    </h2>
    <div *ngFor="let item of done">
      <!-- {{ item }}
      <button (click)="reomvetask(item)" class="w3-btn w3-black">
        Delete
      </button> -->
      <!-- <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <p> {{ item }}</p>
      </div> -->

      <div class="panel panel-default">
        <span>
          <div
            class="panel-heading"
            style="text-decoration: line-through black"
          >
            <p>
              {{ item }}
            </p>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>

